# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binaries for tools such as govet, golint, gocov etc.
/bin/
/pkg/

# Dependency directories (remove the ones that are not used in your project)
/vendor/
/Godeps/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# For editors and IDEs
/.idea/
*.swp
*.swo
*.DS_Store